* {
    box-sizing: border-box;
}
html {
    display: block;
}
body {
    text-align: left;
}

div {
    display: block;
}

h1 {
    text-align: center;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    width: 400px;
    height: 150px;
    padding: 20px;
    margin: 0px 20px 20px 20px;
}

#preview {
    background-color: rgb(10, 51, 53);
    font-size: 12px;
    overflow-wrap: break-word;
    padding: 20px;
    width: 480px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#preview img {
    display: block;
    max-width: 90%;
    margin: 2rem auto;
}